<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lista de Livros</title>
    <style>
        body {
            background-color: cadetblue;
        }
    </style>
</head>

<body>
    <h1>Lista de Livros</h1>
    <form action="/buscar" method="GET">
        <input type="text" name="titulo" placeholder="Buscar por título">
        <button type="submit">Buscar</button>
    </form>

    <ul>
        <% results.forEach((i) => { %>
        <li id="item">
            <strong>Título:</strong> <%= i.book_name %><br>
            <strong>Autor:</strong> <%= i.book_author %><br>
            <strong>Ano de Lançamento:</strong> <%= i.release_year %>
        </li>
        <% }); %>
    </ul>
</body>

</html>